@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
/* body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
*/

body{
  /* font-family: 'Montserrat', sans-serif; */
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
	color: #333;
	color: rgba(0,0,0,0.5);
  overflow-x: hidden;
  background-color: black;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

#fullpage{
  /* overflow-x: hidden; */
}

form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 100;
    font-size: 100%;
    margin:0;
    padding:0;
    color:white;
    text-transform: uppercase;

}
