/* Keuzehulp CSS
 * --------------------------------------- */

body {
  background-color: whitesmoke;
  color: black;
}

.containerContainer{
  height: 80vh;
  width: auto;
  margin: 5% 5% 5% 5%;
  margin-top: -270px;
}

.flex-container {
    padding: 0;
    margin: 0;
    height: auto;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    justify-content: space-around;
    line-height:30px;
}
.flex-item {
    margin: 10px;
    color: black;
    font-size: 1.5em;
    flex: 1 0 auto;
    width: auto;
    height: auto;
    cursor: pointer;
    bottom: 0;
}
.chromosoom{
  height: 20vh;
}
.chromosoom2{
  height: 18vh;
}
.chromosoom3{
  height: 16vh;
}
.chromosoomy{
  height: 5vh;
}
.keuzehulp-titel{
  color: blue;
}

.link-home {
  float: right;
  margin-top: 380px;
  margin-right: 0px;
 color: brown;
}
.link-res {
  float: right;
  margin-top: 400px;
  margin-right: 0px;
 color: brown;
}
.keuze-aarde {
  margin-top: -550px;
  margin-left: -450px;
  color: rgba(255, 255, 255, 0.5);
}
#aarde{
  margin-left: -90px;
  width: 70%;
}
.vraag-tag, .vraag-tagxy{
  text-align: center;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  color: #4E4B4B;
}
.vraag-tagxy{
  text-align: left;
}
.flex-item:before {
    content:'';
    float:left;
    padding-top:100%;
}
h1{
  /* margin: 0; */
  font-size: 3vh;
}

/* --------------------- POPUP VRAAG */
.popup-vraag{
  width: 40%; height: 80%;
  position: absolute;
  bottom: 0;
  right: 20%;
  background-color: #ff5252;
  cursor: pointer;

  display: none;
  z-index: 100;

}
.vraag-titel{
  font-size: 5vh;
  letter-spacing: 5px;
  margin-left: 10%;
}
.vraag-tekst, .weetje-tekst{
  margin: 10%;
}
.vraag-tekst {
  font-size: 30px;
  z-index: 9;
}

.popup-weetje{
  width: 30%; height: 60%;
  position: absolute;
  bottom: 0;
  right: 40%;
  background-color: #4943d3;

  cursor: pointer;

  display: none;
  z-index: 101;
}
.overlay-dark{
  width: 100%;
  height: 100vh;
  opacity: 0.7;
  background-color: black;
  display: none;
  position: absolute;
  top: 0; left: 0;
  z-index: 99;

  cursor: pointer;
  /* voor custom: cursor:url('...')  */
}

#body_keuzehulp {
  background-color: green;
  width: auto;
  height: max-content;
}

@media only screen and (max-width: 768px) {
