html{
  width: 100%;
  height: 100%;
}
body {
    background-color: whitesmoke;
    font: normal 400 20px/1 'Josefin Sans', sans-serif;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.pdf {
  width: 70px;
}
#submit3{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

#content2 {
  font-size: 40px;
}
.resul1 {
  font-size: 60px;
}
.resul2 {
  font-size: 60px;
}
.resul3 {
  font-size: 60px;
}
.resul4 {
  font-size: 20px;
}
.bottom-nav{
  width: 100%;
  position: absolute;
  bottom: 5%;
  text-align: center;
}
.linkje{
  padding: 10px;
  clear: both;
  position: relative;
}
.link-home{
  border-radius: 50px;
  color: black;
  padding: 10px;
  width: auto;
  font-size: 23px;
  line-height: normal;
  transition: opacity 0.3s;
  opacity: 0.5;
  font-weight: bold;
  text-decoration: underline;
  width: 100%;
}
.link-home:hover{
opacity: 1;
}
.backarrow{
  width: 5%;
  padding-right: 10px;
  /* padding: 10px; */
}
.resultaat-title{
  color: black;
  text-align: center;
  margin: 30px;
  font-size: 30px;
  font-weight: bold;
}
.info-links{
  width: 45%;
  height: 100%;
  /* padding: 15px; */
  position: absolute;
  left: 0;
  top: 0;
}

.alg-title{
  color: black;
  text-align: center;
  margin: 30px;
  font-size: 65px;
}
.algemene-info{
  font-size: 15px;
  color: black;
  margin: 30px 40px 0px 40px;
  line-height: normal;
  /* font-weight: bold; */
}

.info-rechts{
  width: 55%;
  height: 100%;
  /* background-color: #4943d3; */
  background-color: #03205F;
  /* background-color: #002064; */
  position: absolute;
  right: 0;
  top: 0;
}
.blok-info-rechts{
  height: 90%;
  margin: 50px 25px 0 25px;
  color: whitesmoke;
  line-height: normal;
  /* font-weight: bold; */
}

.klinisch-title, .commercieel-title, .geentest-title{
  /* background-color: #002064; */
  /* background-color:  #4943d3; */
  background-color: #ee5052;
  text-align: center;
  border-radius: 25px;
  font-weight: bold;
  color: white;
  width: 27%;
  float: left;
  padding: 15px;
  margin: 5px;

  /* cursor: pointer; */
  transition: background-color 0.7s;

}
.klinisch-title{
  background-color: #ee5052;
}
.klinisch-title:hover, .commercieel-title:hover, .geentest-title:hover{
  background-color: #ee5052;
}

.title-sub{
  font-size: 40px;
}

.informatieblok1{

  width: auto;
  padding: 1px 25px 10px 25px;
  clear: both;
  display: block;
  opacity: 1;
  transition: opacity 0.5s;
  visibility: hidden;
}
.informatieblok2{
  width: auto;
  padding: 1px 25px 10px 25px;
  clear: both;
  display: block;
  opacity: 1;
  transition: opacity 0.5s;
  visibility: hidden;
}
.informatieblok3{
  width: auto;
  padding: 1px 25px 10px 25px;
  clear: both;
  display: block;
  opacity: 1;
  transition: opacity 0.5s;
  visibility: hidden;
}
.informatieblok4{
  font-size: 11px;
  width: 30%;
  padding: 1px 25px 10px 25px;
  clear: both;
  display: inline-block;
  opacity: 1;
  transition: opacity 0.5s;
}
.informatieblok1, .informatieblok2, .informatieblok3{
  font-size: 17px;
}

@media screen and (max-width: 768px) {
  body{
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
  html{
    margin:0;
    padding: 0;
  }
  .bottom-nav{
    /* top: 0;
    margin-top: 10px;
    left: 0;
    width: 100%;
    height: 10%;
    position: fixed; */
    position: relative;
    clear: both;
  }
  .link-home{
    font-size: 10px;
  }
  .info-links{
    width: 100%;
    height: 60%;
    position: relative;
  }
  .alg-title{
    font-size: 150%;
  }
  .info-rechts{
    width: 100%;
    height: auto;
    position: relative;
    float: none;
    bottom: 0;
  }
  .blok-info-rechts{
    height: 90%;
    margin: 10px;
    color: whitesmoke;
    line-height: normal;
  }
  .klinisch-title, .commercieel-title, .geentest-title{
    color: white;
    width: 90%;
    float: left;
    padding: 15px;
  /* margin: 5px; */
    margin-top: 10px;
  }
  .title-sub{
    font-size: 25px;
  }
  .informatieblok1, .informatieblok2, .informatieblok3{
    width: auto;
    font-size: 20px;
    padding: 10px;
  }

}

/* button arrow */
.bottom-nav{
  margin-top: -40%;
  display: inline;
}
#submit-btn1 {
  margin-top: 0%;
  margin-left: 0%;
}
#submit-btn2 {
  margin-top: 0%;
  margin-left: 0%;
}
a.button {
  position: relative;

  display: inline-block;
  width: 25.6em;
  height: 3.3em;
  overflow: hidden;
  vertical-align: middle;
  text-align: left;
  text-decoration: none;
  line-height: 3em;
  font-size: 1rem;
  color: rgb(18,31,96);
  cursor: pointer;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
a.button svg {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
a.button svg g circle{
  opacity: 0;
}
a.button svg g line,
a.button svg g polyline,
a.button svg g circle {
  fill: none;
  stroke: rgb(18,31,96);
}
a.button svg g line,
a.button svg g polyline {
  stroke-miterlimit: 10;
}
a.button svg g circle {
  display: block;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 0.066em;
  stroke-dasharray: 200;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset ease-out 0.5s;
}
a.button font {
  z-index: 2;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
}
a.button:hover {
  -webkit-transform: translateZ(0) translateX(0.5em);
          transform: translateZ(0) translateX(0.5em);
}
a.button:hover svg g circle {
  stroke-dashoffset: 200;
}


/* css preloader */

.loader-tekst {
  color: white;
  text-align: center;
  letter-spacing: 2px;
  /* text-transform: uppercase; */
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  margin-top: 30%;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #041f5f;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  z-index: 99;
  /* makes sure it stays on top */
}



@-webkit-keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}
@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}


/* puls */

.pulse {
  height: 100px;
  width: 200px;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.pulse:after {
  content: '';
  display: block;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 200px 100px" enable-background="new 0 0 200px 100px" xml:space="preserve"><polyline fill="none" stroke-width="3px" stroke="white" points="2.4,58.7 70.8,58.7 76.1,46.2 81.1,58.7 89.9,58.7 93.8,66.5 102.8,22.7 110.6,78.7 115.3,58.7 126.4,58.7 134.4,54.7 142.4,58.7 197.8,58.7 "/></svg>') 0 0 no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-animation: 2s pulse linear infinite;
  -moz-animation: 2s pulse linear infinite;
  -o-animation: 2s pulse linear infinite;
  animation: 2s pulse linear infinite;
    clip: rect(0, 0, 100px, 0);
}
.pulse:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 2px;
  right: 2px;
  bottom: 0;
  top: 16px;
  margin: auto;
  height: 3px;

}


@-webkit-keyframes pulse {
  0% {
    clip: rect(0, 0, 100px, 0);
    opacity: 0.4;
  }
  4% {
    clip: rect(0, 66.66667px, 100px, 0);
    opacity: 0.6;
  }
  15% {
    clip: rect(0, 133.33333px, 100px, 0);
    opacity: 0.8;
  }
  20% {
    clip: rect(0, 300px, 100px, 0);
     opacity: 1;
  }

  80% {
    clip: rect(0, 300px, 100px, 0);
     opacity:0;
  }

  90% {
    clip: rect(0, 300px, 100px, 0);
    opacity: 0;
  }

  100% {
    clip: rect(0, 300px, 100px, 0);
    opacity:0;
 }
}
@keyframes pulse {
  0% {
    clip: rect(0, 0, 100px, 0);
  }
  4% {
    clip: rect(0, 66.66667px, 100px, 0);
  }
  15% {
    clip: rect(0, 133.33333px, 100px, 0);
  }
  20% {
    clip: rect(0, 300px, 100px, 0);
     opacity:1;
  }

  80% {
    clip: rect(0, 300px, 100px, 0);
     opacity:0;
  }

  90% {
    opacity: 0;
  }

  100% {
    clip: rect(0, 300px, 100px, 0);
    opacity:0;
 }

}
