/* Storytelling CSS
 * --------------------------------------- */
 section {
  position: relative;
  width: 100%;
  height: 100%;
}
section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
}demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}

#scrollbtn a {
  padding-top: 70px;
}

div#scrollbtn.demo {
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
  text-align: center;
}

#scrollbtn a span {
  position: absolute;
  bottom: -15px;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(-45deg);
  animation: sdb05 1.5s infinite;

}

@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}


/* Sections
 * --------------------------------------- */
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}

h1{
	font-size: 4em;
}
p{
	font-size: 2em;
  color: white;
}

.intro p{
	width: 600px;
	/* margin: 30px auto; */
	font-size: 1.5em;
}

.intro h1{
	/* margin: auto auto 70px auto; */
}

.intro h1, .intro p{
  margin-left: 110px;
}

.imgcontainer{
  float: left;
}

.intro h1, .intro p{
  float: left;
  clear: both;
}

.footer{
  text-align: center;
  /* width: 700px; */
  width: 65%;
  margin: 0 auto;
}
.section{
	/* text-align:center; */
}

/* Menu
 * --------------------------------------- */
#menu li {
	display:block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.2);
	-webkit-border-radius: 50px;
            border-radius: 50px;
}
#menu li.navnumber, #menu li.navnumber:hover{
  background: transparent;
  color: rgba(255,255,255, 0.2);
  padding: 0 10px;
  font-weight: bold;
}
body.fp-viewing-firstPage #menu{
    display:none; /* Verbergt menu op eerste pagina */
}

#menu li.active{
  background-color: white;
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}

#menu li a,
#menu li.active a{
	padding: 2px 10px;
	display:block;
  width: 10px;
  margin-right: 10px;
  color: white;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
  height: 100%;
  width: 5%;
	right: 0;
	z-index: 70;
	padding-top: 10%;
	margin:0;
}

/* Images
 * --------------------------------------- */
/* img{
  width: 350px;
  margin: 30px;
} */

#section0{
    background-image: url('../imgs/elipses.svg');
    height: auto;
    width: 100%;
}

img#speechbubble, img#earth, #begininfoblock{
  float: left;
}

.imgcontainer, img#blueprint{
  width: 400px;
  margin-left: 70px;
}

img#earth{
  height: auto;
  margin: 40px;
}

img#speechbubble{
  height: auto;
  width: 200px;
  visibility: hidden;
  /* margin-top: -400px; */
  margin-left: 100px;
}

/* Buttons
 * --------------------------------------- */
#skipstorybtn{
  opacity: 0;
  font-size: 20px;
  width: 25%;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

a#linktext{
  opacity: 0;
}

.redish-naarkeuzehulp {

  width: 40%;
  text-align: center;
	background-color:#FF5252;
	border-radius:28px;
	display:inline-block;

	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
  margin: 10%;
}
.redish-naarkeuzehulp:hover {
	background-color:#E94C4C;
  text-decoration:none;
  color: white;
}
.redish-naarkeuzehulp:active {
	position:relative;
	top:1px;
}

#btnNaam{
  width: 450px;
	background-color:#0C40BB;
	border-radius:30px;
	display: block;

	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
  margin-top: 45px;
  margin-left: 110px;
}

#btnNaam:hover{
  background-color: #0A359D;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted white;
}

.tooltip .tooltiptext {
  visibility: hidden;
  font-size: 12px;
  width: 300px;
  margin-bottom: 20px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.extra-info{
  color: lightgrey;
}

#naam{
  width: 650px;
  margin-top: 60px;
  margin-left: 110px;
  height: 50px;
  font-size: 3em;
  text-transform: capitalize;
  color: white;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid white 1px;
}

/* Infoblocks
 * --------------------------------------- */
div.infoblock {
  background-color: red;
  margin-top: 80px;
  display: none;
}

div.infoblock p{
  font-size: 1em;
  padding: 20px;
  text-align: justify;
  text-shadow: none;
}

div.infoblock h1{
  text-shadow: none;
}

#begininfoblock {
  font-size: 11px;
  background-color: #03205f;
  /* margin-bottom: 0px; */
  /* margin-left: 0px; */
  width: 350px;
  /* height: 200px; */
}

/* Bootstrap
 * --------------------------------------- */
